@model CoverType

<form method="post" asp-action="Edit">
    <div class="row pb-2">
        <h2 class="text-primary">Edit Cover Type</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    
    <button type="submit" class="btn btn-primary" style="width:150px" >Update</button>
    <a asp-action="Index" asp-controller="Category" class="btn btn-secondary" style="width:150px">Back to list</a>
</form>
